VITE_SUPABASE_URL=https://dnsgfsdikqkvzqtcydgq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRuc2dmc2Rpa3FrdnpxdGN5ZGdxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU0NTc3ODIsImV4cCI6MjA5MTAzMzc4Mn0.2-iYH38XWnu8yLfJsHJqHAsTEslbKOIoEGQlD1yYlKQ
VITE_DATA_MANAGER_FORCE_DEMO=false
